.main-container{
    display: flex;
    justify-content: center;
}

.main-block{
    width: 960px;

}

.film-cards-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 32px;
}