/* @import "sizes.css"; */

.link{
    text-decoration: none;
    color: #000;
}

.container{
    max-width: 1200px;
    margin: auto;

}

.section-title{
    width: 928px;
    margin-left: 16px;
    margin-bottom: 16px;
    font-size: 24px;
    font-weight: bold;
    line-height: 32px;
}

.active{
    color: #712D9C;
}

.photo-block{
    position: relative;
    /*margin-bottom: 16px;*/
}

.film-photo{
    width: 298.67px;
    height: 300px;
    border-radius: 8px;
}


.meta-datas{
    position: absolute;
    right: 0;
    bottom: 0;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-top-left-radius: 14px;
    background-color: #F5F5F8;
    display: flex;
    flex-direction: column;
    gap: 4px;
}